In [6]:
import os

In [38]:
!curl -sS https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet -o yellow_tripdata_2021_01.parquet

In [2]:
!ls

docker-compose.yaml             taxi_zone_lookup.csv
ingest.ipynb                    taxi_zones.parquet
ingest_data.py                  yellow_tripdata_2021_01.csv
ny_taxi_postgres_data           yellow_tripdata_2021_01.parquet

In [1]:
!curl https://d37ci6vzurychx.cloudfront.net/misc/taxi_zones.zip -o taxi_zones.parquet

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1001k  100 1001k    0     0   395k      0  0:00:02  0:00:02 --:--:--  395k

In [42]:
!curl https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv -o taxi_zone_lookup.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 12331  100 12331    0     0  17126      0 --:--:-- --:--:-- --:--:-- 17174

In [4]:
# Parquet to csv
import pyarrow.parquet as pq
import pyarrow.csv as pc

In [45]:
table_name = "yellow_tripdata_2021_01"
table = pq.read_table(f"{table_name}.parquet")
pc.write_csv(table, f"{table_name}.csv")

In [5]:
table_name = "taxi_zones"
table = pq.read_table(f"{table_name}.parquet")
pc.write_csv(table, f"{table_name}.csv")

ArrowInvalid: Error creating dataset. Could not read schema from 'taxi_zones.parquet'. Is this a 'parquet' file?: Could not open Parquet input source 'taxi_zones.parquet': Parquet magic bytes not found in footer. Either the file is corrupted or this is not a parquet file.

In [46]:
!ls

docker-compose.yaml             taxi_zone_lookup.csv
ingest.ipynb                    yellow_tripdata_2021_01.csv
ingest_data.py                  yellow_tripdata_2021_01.parquet
ny_taxi_postgres_data

In [47]:
## Good now we have the parquet. 
## pandas uses library sqlalchemy ->  a library for dealing with sql

In [48]:
# load data with pandas
import pandas as pd

In [49]:
df = pd.read_csv(f"{table_name}.csv", nrows=100)
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10.000000,2021-01-01 00:36:12.000000,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20.000000,2021-01-01 00:52:19.000000,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30.000000,2021-01-01 01:11:06.000000,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48.000000,2021-01-01 00:31:01.000000,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49.000000,2021-01-01 00:48:21.000000,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41.000000,2021-01-01 00:26:47.000000,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5,NaN
96,2,2021-01-01 00:23:29.000000,2021-01-01 00:35:03.000000,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5,NaN
97,2,2021-01-01 00:46:17.000000,2021-01-01 00:54:25.000000,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5,NaN
98,2,2021-01-01 00:28:16.000000,2021-01-01 00:51:44.000000,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0,NaN
99,2,2021-01-01 00:42:35.000000,2021-01-01 00:54:41.000000,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5,NaN

In [77]:
zone_table = "taxi_zone_lookup"

In [78]:
df = pd.read_csv(f"{zone_table}.csv", nrows=100)
df

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [50]:
### Generate Schema

In [51]:
print(pd.io.sql.get_schema(df, name={table_name}))

CREATE TABLE "{'yellow_tripdata_2021_01'}" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [79]:
print(pd.io.sql.get_schema(df, name={zone_table}))

CREATE TABLE "{'taxi_zone_lookup'}" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)

In [52]:
## Convert into datetime

In [53]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [54]:
## Check schema again
print(pd.io.sql.get_schema(df, name={table_name}))

CREATE TABLE "{'yellow_tripdata_2021_01'}" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [55]:
## Connection to Postgres

In [56]:
from sqlalchemy import create_engine

In [57]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [58]:
engine.connect()

In [59]:
print(pd.io.sql.get_schema(df, name=table_name, con=engine)) ##con=engine = “generate Postgres-correct SQL”

CREATE TABLE yellow_tripdata_2021_01 (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [80]:
print(pd.io.sql.get_schema(df, name=zone_table, con=engine)) ##con=engine = “generate Postgres-correct SQL”

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [60]:
## Read the data

In [67]:
df = pd.read_csv(f"{table_name}.csv", low_memory=False)

In [81]:
df = pd.read_csv(f"{zone_table}.csv", low_memory=False)

In [68]:
df_iter = pd.read_csv(f"{table_name}.csv", iterator=True, chunksize=100000)

In [69]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10.000000,2021-01-01 00:36:12.000000,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20.000000,2021-01-01 00:52:19.000000,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30.000000,2021-01-01 01:11:06.000000,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48.000000,2021-01-01 00:31:01.000000,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49.000000,2021-01-01 00:48:21.000000,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00.000000,2021-01-31 23:33:00.000000,NaN,8.89,NaN,NaN,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00.000000,2021-01-31 23:51:00.000000,NaN,7.43,NaN,NaN,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00.000000,2021-01-31 23:38:00.000000,NaN,6.26,NaN,NaN,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06.000000,2021-02-01 00:02:03.000000,NaN,19.70,NaN,NaN,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29.000000,2021-01-31 23:31:22.000000,NaN,4.68,NaN,NaN,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [70]:
len(df)

1369769

In [82]:
df_iter = pd.read_csv(f"{zone_table}.csv", iterator=True, chunksize=100000)

In [83]:
df

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                      NaN          NaN
264         265            NaN           Outside of NYC          NaN

[265 rows x 4 columns]

In [84]:
len(df)

265

In [71]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [73]:
df.head() ## Return the first 5 records

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [74]:
df.head(n=1) ## First 1 records

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.1,1.0,N,142,43,2,8.0,3.0,0.5,0.0,0.0,0.3,11.8,2.5,NaN

In [75]:
df.head(n=0) ## Only the header

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [76]:
df.head(n=0).to_sql(name=table_name, con=engine, if_exists='replace') ## Create the table, just header

0

In [85]:
df.head(n=0).to_sql(name=zone_table, con=engine, if_exists='replace') ## Create the table, just header

0